<div class="btn-group export-buttons">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-share"></span> Export
    </button>
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a id="customXLSXbutton" href="#">Export to Xlsx</a></li>
        <li><a id="customCSVbutton" href="#">Export to Csv</a></li>
    </ul>
</div>
<script>

    /***************************
     ***  EXPORT CODE START  ***
     ***************************/

    jQuery(document).ready( function ($) {

        var table = document.getElementById('table-search');

        $('#customXLSXbutton').on('click', function () {
            var instance = new TableExport(document.getElementById('table-search'), {
                formats: ['xlsx'],   // (String[]), filetype(s) for the export, (default: ['xls', 'csv', 'txt'])
                exportButtons: false        // (Boolean), generates default download buttons, (default: true)
            });

            var exportXLSXtable = instance.getExportData()['table-search']['xlsx'];

            // TODO: get correct names
            exportXLSXtable.fileName = 'XLSX_table';

            instance.export2file(exportXLSXtable.data, exportXLSXtable.mimeType, exportXLSXtable.fileName, exportXLSXtable.fileExtension);
        });

        $('#customCSVbutton').on('click', function () {
            var instance = new TableExport(document.getElementById('table-search'), {
                formats: ['csv'],
                exportButtons: false
            });

            var exportCSVtable = instance.getExportData()['table-search']['csv'];

            // TODO: get correct names
            exportCSVtable.fileName = 'CSV_table';

            instance.export2file(exportCSVtable.data, exportCSVtable.mimeType, exportCSVtable.fileName, exportCSVtable.fileExtension);
        });
    });

    /***************************
     ***  EXPORT CODE END  ***
     ***************************/

</script>
