<nav class="pull-left">
    <label>{{ 'PAGINATE_BY_VIEW' | translate }}</label>
    <select
            ng-model="$parent.searchParameters.paginateBy"
            name="paginateBy"
            ng-change="search()">
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="250">250</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
    </select>
    <label>{{ 'PAGINATE_BY_ON_A_PAGE' | translate }}</label>
</nav>
