<div data-ng-if="main.isGlobalSearch()" class="search-pagination">
    <nav class="pull-right">
        <ul uib-pagination
            boundary-links="true"
            direction-links="true"
            ng-change="searchGlobally()"
            items-per-page="$parent.searchParameters.paginateBy"
            max-size="$parent.searchParameters.maxSize"
            rotate="false"
            total-items="response.count"
            ng-model="$parent.searchParameters.page"
            class="pagination-sm"
            first-text="&laquo;"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            last-text="&raquo;"></ul>
    </nav>
</div>

<div data-ng-if="!main.isGlobalSearch()" class="search-pagination">
    <nav class="pull-right">
        <ul uib-pagination
            boundary-links="true"
            direction-links="true"
            ng-change="search()"
            items-per-page="pageSize"
            max-size="$parent.searchParameters.maxSize"
            rotate="false"
            total-items="totalItems"
            ng-model="$parent.searchParameters.page"
            class="pagination-sm"
            first-text="&laquo;"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            last-text="&raquo;"></ul>
    </nav>
</div>