<div ng-include="'app/templates/main/partial/detailview_header.html'"></div>

<div id="elementToFocus" tabindex="1" style="outline: 0" ng-arrow-left="detailCtrl.reload({table:'analysis', left:true})" ng-arrow-right="detailCtrl.reload({table:'analysis', right:true})" class="panel detailview-page">
    <div class="panel-body" data-ng-if="detailCtrl.results != null">

        <div class="row">
            <div class="col-lg-6" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">

                <div class="detailview-title">
                    <h2>
                        {{ 'API_TRANSLATION.ANALYSIS.DETAIL_VIEW_HEADING' | translate }} {{ detailCtrl.results.id }}
                    </h2>

                </div>

                <h3> {{ 'DETAILVIEW_TABLE_HEADER' | translate }} </h3>
                <table class="table table-bordered table-hover table-header-styles">
                    <thead>
                    </thead>

                    <tbody>

                    <tr data-ng-if="(detailCtrl.results.analysis_method__analysis_method && detailCtrl.results.analysis_method__analysis_method != null) || (detailCtrl.results.analysis_method__method_en && detailCtrl.results.analysis_method__method_en != null) ">
                        <td>
                            <localize-label et="'API_TRANSLATION.ANALYSIS.ANALYSIS_METHOD__ANALYSIS_METHOD'"
                                            en="'API_TRANSLATION.ANALYSIS.ANALYSIS_METHOD__METHOD_EN'"/>
                        </td>
                        <td>
                            <localize et="detailCtrl.results.analysis_method__analysis_method"
                                      en="detailCtrl.results.analysis_method__method_en"/>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.method_details && detailCtrl.results.method_details != null" >
                        <td> {{ 'API_TRANSLATION.ANALYSIS.METHOD_DETAILS ' | translate }} </td>
                        <td> {{detailCtrl.results.method_details}}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.lab && detailCtrl.results.lab != null" >
                        <td> {{ 'API_TRANSLATION.ANALYSIS.LAB ' | translate }} </td>
                        <td> {{detailCtrl.results.lab}}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.instrument && detailCtrl.results.instrument != null" >
                        <td> {{ 'API_TRANSLATION.ANALYSIS.INSTRUMENT ' | translate }} </td>
                        <td> {{detailCtrl.results.instrument}}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.instrument_txt && detailCtrl.results.instrument_txt != null" >
                        <td> {{ 'API_TRANSLATION.ANALYSIS.INSTRUMENT_TXT ' | translate }} </td>
                        <td> {{detailCtrl.results.instrument_txt}}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.mass && detailCtrl.results.mass != null">
                        <td> {{ 'API_TRANSLATION.ANALYSIS.MASS' | translate }} </td>
                        <td> {{ detailCtrl.results.mass }} </td>
                    </tr>

                    <!--TODO: mass_unit-->

                    <tr data-ng-if="detailCtrl.analysisResults.length > 0 && detailCtrl.service.getCountsForAnalysisDetailView(detailCtrl.analysisResults) > 0">
                        <td> {{ 'API_TRANSLATION.ANALYSIS.COUNTED_GRAINS' | translate }} </td>
                        <td data-ng-if="detailCtrl.service.getCountsForAnalysisDetailView(detailCtrl.analysisResults) > 0">
                            {{ detailCtrl.service.getCountsForAnalysisDetailView(detailCtrl.analysisResults) }}
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.lab_analysis_number && detailCtrl.results.lab_analysis_number != null">
                        <td> {{ 'API_TRANSLATION.ANALYSIS.LAB_ANALYSIS_NUMBER' | translate }} </td>
                        <td> {{ detailCtrl.results.lab_analysis_number }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.material && detailCtrl.results.material != null">
                        <td> {{ 'API_TRANSLATION.ANALYSIS.MATERIAL' | translate }} </td>
                        <td> {{ detailCtrl.results.material }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.agent__agent && detailCtrl.results.agent__agent != null" >
                        <td> {{ 'API_TRANSLATION.ANALYSIS.AGENT__AGENT ' | translate }} </td>
                        <td> {{detailCtrl.results.agent__agent}} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date && detailCtrl.results.date != null" >
                        <td> {{ 'API_TRANSLATION.ANALYSIS.DATE ' | translate }} </td>
                        <td> {{detailCtrl.results.date}} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date_free && detailCtrl.results.date_free != null" >
                        <td> {{ 'API_TRANSLATION.ANALYSIS.DATE_FREE ' | translate }} </td>
                        <td> {{detailCtrl.results.date_free}}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.sample && detailCtrl.results.sample != null" >
                        <td> {{ 'API_TRANSLATION.ANALYSIS.SAMPLE ' | translate }} </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'sample',id:detailCtrl.results.sample})">{{detailCtrl.results.sample}}</a>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.sample__number && detailCtrl.results.sample__number != null" >
                        <td> {{ 'API_TRANSLATION.ANALYSIS.SAMPLE_NUMBER' | translate }} </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'sample',id:detailCtrl.results.sample})">
                                {{detailCtrl.results.sample__number}}
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.sample__locality_id != null">
                        <td>
                            <localize-label et="'API_TRANSLATION.ANALYSIS.SAMPLE__LOCALITY__LOCALITY'"
                                            en="'API_TRANSLATION.ANALYSIS.SAMPLE__LOCALITY__LOCALITY'"/>
                        </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'locality',id:detailCtrl.results.sample__locality_id})">
                                <localize et="detailCtrl.results.sample__locality__locality"
                                          en="detailCtrl.results.sample__locality__locality_en"/>
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.sample__depth && detailCtrl.results.sample__depth != null" >
                        <td> {{ 'API_TRANSLATION.ANALYSIS.SAMPLE__DEPTH' | translate }} </td>
                        <td>{{detailCtrl.results.sample__depth}}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.sample__depth_interval && detailCtrl.results.sample__depth_interval != null" >
                        <td> {{ 'API_TRANSLATION.ANALYSIS.SAMPLE__DEPTH_INTERVAL' | translate }} </td>
                        <td>{{detailCtrl.results.sample__depth_interval}}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.sample__stratigraphy_id != null">
                        <td>
                            <localize-label et="'API_TRANSLATION.ANALYSIS.SAMPLE__STRATIGRAPHY__STRATIGRAPHY'"
                                            en="'API_TRANSLATION.ANALYSIS.SAMPLE__STRATIGRAPHY__STRATIGRAPHY_EN'"/>
                        </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'stratigraphy',id:detailCtrl.results.sample__stratigraphy_id})">
                                <localize et="detailCtrl.results.sample__stratigraphy__stratigraphy"
                                          en="detailCtrl.results.sample__stratigraphy__stratigraphy_en"/>
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.sample__lithostratigraphy_id != null">
                        <td>
                            <localize-label et="'API_TRANSLATION.ANALYSIS.SAMPLE__LITHOSTRATIGRAPHY__STRATIGRAPHY'"
                                            en="'API_TRANSLATION.ANALYSIS.SAMPLE__LITHOSTRATIGRAPHY__STRATIGRAPHY_EN'"/>
                        </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'stratigraphy',id:detailCtrl.results.sample__lithostratigraphy_id})">
                                <localize et="detailCtrl.results.sample__lithostratigraphy__stratigraphy"
                                          en="detailCtrl.results.sample__lithostratigraphy__stratigraphy_en"/>
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.sample__stratigraphy_free && detailCtrl.results.sample__stratigraphy_free != null">
                        <td> {{ 'API_TRANSLATION.ANALYSIS.SAMPLE__STRATIGRAPHY_FREE' | translate }} </td>
                        <td> {{ detailCtrl.results.sample__stratigraphy_free }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.database__name && detailCtrl.results.database__name != null
                        && detailCtrl.results.database__name_en && detailCtrl.results.database__name_en != null">
                        <td>
                            <localize-label et="'API_TRANSLATION.ANALYSIS.DATABASE__NAME'" en="'API_TRANSLATION.ANALYSIS.DATABASE__NAME_EN'" />
                        </td>
                        <td>
                            <localize et="detailCtrl.results.database__name" en="detailCtrl.results.database__name_en" />
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date_added && detailCtrl.results.date_added != null ">
                        <td> {{'API_TRANSLATION.SAMPLE.DATE_ADDED ' | translate }}</td>
                        <td> {{detailCtrl.results.date_added | date:dateFormat}}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date_changed && detailCtrl.results.date_changed != null ">
                        <td> {{'API_TRANSLATION.SAMPLE.DATE_CHANGED ' | translate }}</td>
                        <td> {{detailCtrl.results.date_changed | date:dateFormat}}</td>
                    </tr>

                    </tbody>
                </table>

            </div>

            <!-- Analysis results -->
            <div class="col-lg-6" data-ng-if="detailCtrl.analysisResults.length > 0">
                <h3> {{ 'DETAIL.ANALYSIS.RESULTS' | translate }} </h3>
                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                        <tr>
                            <th> {{ 'DETAIL.ANALYSIS.RESULTS_NAME' | translate }} </th>
                            <th> {{ 'DETAIL.ANALYSIS.RESULTS_VALUE' | translate }} </th>
                            <th> {{ 'DETAIL.ANALYSIS.RESULTS_VALUE_BIN' | translate }} </th>
                            <th> {{ 'DETAIL.ANALYSIS.RESULTS_VALUE_TXT' | translate }} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="entity in detailCtrl.analysisResults | orderBy: '-value'">
                            <td> {{ entity.name }} </td>
                            <td> {{ entity.value }} </td>
                            <td> {{ entity.value_bin }} </td>
                            <td> {{ entity.value_txt }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Related files -->
            <div class="col-lg-6" data-ng-if="detailCtrl.attachmentLink.length > 0">
                <h3> {{ 'DETAIL.DETAIL_ATTACHMENT_LINK' | translate }} </h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ANALYSIS.ATTACHMENT_LINK.TYPE' | translate }} </th>
                        <th> {{ 'API_TRANSLATION.ANALYSIS.ATTACHMENT_LINK.DESCRIPTION' | translate }} </th>
                        <th> {{ 'API_TRANSLATION.ANALYSIS.ATTACHMENT_LINK.AUTHOR' | translate }} </th>
                        <th> {{ 'API_TRANSLATION.ANALYSIS.ATTACHMENT_LINK.DATE' | translate }} </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entity in detailCtrl.attachmentLink">
                        <td>
                            <localize et="entity.attachment__type__value" en="entity.attachment__type__value_en" />
                        </td>
                        <td>
                            <localize et="entity.attachment__description" en="entity.attachment__description_en" />
                        </td>
                        <td>
                            <first-not-null values="[entity.attachment__author__agent, entity.attachment__author_free]" />
                        </td>
                        <td>
                            <span data-ng-if="entity.attachment__date_added != null">
                                {{ entity.attachment__date_added | date:dateFormat }}
                            </span>
                            <span data-ng-if="entity.attachment__date_added == null && entity.attachment__date_created != null">
                                {{ entity.attachment__date_created | date:dateFormat }}
                            </span>
                            <span data-ng-if="entity.attachment__date_added == null && entity.attachment__date_created == null && entity.attachment__date_created_free != null">
                                {{ entity.attachment__date_created_free }}
                            </span>
                        </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object: 'attachment', id: entity.attachment__id})">
                                Link
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Images from related files -->
            <div class="col-lg-6" data-ng-if="detailCtrl.attachmentLink.length > 0">
                <h3> {{ 'DETAIL.LOCALITY.IMAGES_HEADING'| translate }} </h3>

                <div class="row">

                    <div class="col-md-6 col-xs-6" data-ng-repeat="image in detailCtrl.attachmentLink"
                         data-ng-if="image.attachment__filename.endsWith('png') || image.attachment__filename.endsWith('jpeg') || image.attachment__filename.endsWith('svg') || image.attachment__filename.endsWith('jpg')" >

                        <figure class="margin-bottom-30">

                            <a href="{{detailCtrl.service.getDownloadLink(image.attachment__filename)}}" class="hover-me" data-fancybox="gallery">

                                <div class="img-responsive set-height">
                                    <img class="previewImageDetail img-rounded"
                                         src="{{detailCtrl.service.getDownloadLink(image.attachment__filename)}}" />
                                </div>

                                <!--<show-preview class="img-responsive set-height"-->
                                              <!--classes="previewImageDetail img-rounded"-->
                                              <!--img-title="[image.author__agent, image.date_taken, image.date_taken_free]"-->
                                              <!--img-url="detailCtrl.service.getDownloadLink(image.attachment__filename)" />-->

                            </a>

                        </figure>

                    </div>

                </div>
            </div>


        </div>

    </div>

    <div data-ng-if="detailCtrl.results == null && pageHasError" ng-include="'app/templates/main/detailview_error.html'"></div>

</div>

<div ng-include="'app/templates/main/partial/detailview_footer.html'"></div>

<script>
    $(function(){
        $('#elementToFocus').focus();
    });
</script>