<div ng-include="'app/templates/main/partial/detailview_header.html'"></div>

<div tabindex="1" style="outline: 0" ng-arrow-left="detailCtrl.reload(detailCtrl.results.id - 1)" ng-arrow-right="detailCtrl.reload(detailCtrl.results.id + 1)" class="panel detailview-page">
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-6"
                 bs-loading-overlay bs-loading-overlay-reference-id="detailView"
                 bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">

                <div class="detailview-title">
                    <h2>
                        <localize en="detailCtrl.results.drillcore__drillcore_en"
                                  et="detailCtrl.results.drillcore__drillcore"/>
                    </h2>
                    <h4> {{ 'DETAIL.DRILLCORE.BOX_NUMBER'| translate }} {{ detailCtrl.results.number }} </h4>
                </div>

                <!--<input ng-keydown="detailCtrl.reload(detailCtrl.results.id + 1)" />-->

                <div class="row core-box-previous-next" ng-if="detailCtrl.results.id">
                    <!-- TODO: Also should work when pressing left and right arrow keys -->
                    <a class="pull-left" href data-ng-click="detailCtrl.reload(detailCtrl.results.id - 1)">
                        {{ 'DETAIL.PREVIOUS'| translate }}
                    </a>
                    <a class="pull-right" href data-ng-click="detailCtrl.reload(detailCtrl.results.id + 1)">
                        {{ 'DETAIL.NEXT'| translate }}
                    </a>
                </div>

                <table class="table table-bordered table-hover table-header-styles">

                    <tbody>
                        <tr data-ng-if="detailCtrl.results.id && detailCtrl.results.id != null">
                            <td> {{ 'DETAIL.CORE_BOX.ID'| translate }} </td>
                            <td> {{ detailCtrl.results.id }} </td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.drillcore__drillcore_en && detailCtrl.results.drillcore__drillcore_en != null
                            || detailCtrl.results.drillcore__drillcore && detailCtrl.results.drillcore__drillcore != null">
                            <td>{{ 'DETAIL.CORE_BOX.LOCALITY'| translate }}</td>
                            <td>
                                <a href data-ng-click="detailCtrl.service.openInNewWindow({object: 'locality', id: detailCtrl.results.drillcore__locality})">
                                    <localize en="detailCtrl.results.drillcore__drillcore_en" et="detailCtrl.results.drillcore__drillcore"/>
                                </a>
                            </td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.number && detailCtrl.results.number != null">
                            <td>{{ 'DETAIL.CORE_BOX.NUMBER'| translate }}</td>
                            <td>{{detailCtrl.results.number}}</td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.number_meters && detailCtrl.results.number_meters != null">
                            <td>{{ 'DETAIL.CORE_BOX.INBOX'| translate }}</td>
                            <td>{{detailCtrl.results.number_meters}}</td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.depth_start && detailCtrl.results.depth_start != null">
                            <td>{{ 'DETAIL.CORE_BOX.SINCE'| translate }}</td>
                            <td>{{detailCtrl.results.depth_start}}</td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.depth_end && detailCtrl.results.depth_end != null">
                            <td>{{ 'DETAIL.CORE_BOX.TO'| translate }}</td>
                            <td>{{detailCtrl.results.depth_end}}</td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.depth_other && detailCtrl.results.depth_other != null">
                            <td>{{ 'DETAIL.CORE_BOX.DEPTH'| translate }}</td>
                            <td>{{detailCtrl.results.depth_other}}</td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.stratigraphy_top__stratigraphy && detailCtrl.results.stratigraphy_top__stratigraphy != null
                            || detailCtrl.results.stratigraphy_top__stratigraphy_en && detailCtrl.results.stratigraphy_top__stratigraphy_en != null">
                            <td>{{ 'DETAIL.CORE_BOX.STRATIGRAPHY_TOP'| translate }}</td>
                            <td>
                                <a href data-ng-click="detailCtrl.service.openInNewWindow({object: 'stratigraphy', id: detailCtrl.results.stratigraphy_top_id})">
                                    <localize et="detailCtrl.results.stratigraphy_top__stratigraphy"
                                              en="detailCtrl.results.stratigraphy_top__stratigraphy_en"/>
                                </a>
                            </td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.stratigraphy_top_free && detailCtrl.results.stratigraphy_top_free != null">
                            <td> {{ 'DETAIL.CORE_BOX.STRATIGRAPHY_TOP_FREE'| translate }} </td>
                            <td> {{ detailCtrl.results.stratigraphy_top_free }} </td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.stratigraphy_base__stratigraphy && detailCtrl.results.stratigraphy_base__stratigraphy != null
                            || detailCtrl.results.stratigraphy_base__stratigraphy_en && detailCtrl.results.stratigraphy_base__stratigraphy_en != null">
                            <td>{{ 'DETAIL.CORE_BOX.STRATIGRAPHY_BASE'| translate }}</td>
                            <td>
                                <a href data-ng-click="detailCtrl.service.openInNewWindow({object: 'stratigraphy', id: detailCtrl.results.stratigraphy_base_id})">
                                    <localize et="detailCtrl.results.stratigraphy_base__stratigraphy"
                                              en="detailCtrl.results.stratigraphy_base__stratigraphy_en"/>
                                </a>
                            </td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.stratigraphy_base_free && detailCtrl.results.stratigraphy_base_free != null">
                            <td> {{ 'DETAIL.CORE_BOX.STRATIGRAPHY_BASE_FREE'| translate }} </td>
                            <td> {{ detailCtrl.results.stratigraphy_base_free }} </td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.location && detailCtrl.results.location != null">
                            <td> {{ 'DETAIL.CORE_BOX.LOCATION'| translate }} </td>
                            <td> {{ detailCtrl.results.location }} </td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.remarks && detailCtrl.results.remarks != null">
                            <td> {{ 'DETAIL.CORE_BOX.REMARKS'| translate }} </td>
                            <td> {{ detailCtrl.results.remarks }} </td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.date_added && detailCtrl.results.date_added != null">
                            <td> {{ 'DETAIL.CORE_BOX.DATE_ADDED'| translate }} </td>
                            <td> {{ detailCtrl.results.date_added | date:dateFormat }} </td>
                        </tr>

                        <tr data-ng-if="detailCtrl.results.date_changed && detailCtrl.results.date_changed != null">
                            <td> {{ 'DETAIL.CORE_BOX.DATE_CHANGED'| translate }} </td>
                            <td> {{ detailCtrl.results.date_changed | date:dateFormat }} </td>
                        </tr>

                    </tbody>
                </table>

                <div class="row core-box-image">

                    <div class="col-sm-12">
                        <a href data-ng-click="detailCtrl.service.openUrlInNewWindow({url: detailCtrl.coreboxImageUrl})"
                           title="{{detailCtrl.coreboxImageUrl}}">
                            <img spinner-load ng-src="{{detailCtrl.service.getDrillcoreImageUrl({
                                database: detailCtrl.results.database__acronym,
                                id: detailCtrl.results.drillcore__id,
                                filename: detailCtrl.results.drillcoreimage__image,
                                preview: true})}}">
                        </a>
                    </div>

                    <div class="photo-author">
                        {{ 'DETAIL.CORE_BOX.PHOTO' | translate }}:
                        {{detailCtrl.results.drillcoreimage__agent__agent}} {{detailCtrl.results.drillcoreimage__image_date | date:dateFormat}}
                    </div>

                    <div class="col-sm-12">
                        {{'API_TRANSLATION.PHOTO_ARCHIVE.SIZE ' | translate }}:
                        <a href="{{detailCtrl.externalCoreboxImagePath}}600" target="_blank">600px</a>
                        | <a href="{{detailCtrl.externalCoreboxImagePath}}1024" target="_blank">1024px</a>
                        | <a href="{{detailCtrl.externalCoreboxImagePath}}1440" target="_blank">1440px</a>
                        | <a href="{{detailCtrl.externalCoreboxImagePath}}1600" target="_blank">1600px</a>
                        | <a href="{{detailCtrl.externalCoreboxImagePath}}1920" target="_blank">1920px</a>
                        | <a href="{{detailCtrl.coreboxImageUrl}}" target="_blank">Original</a>
                    </div>

                </div>


                <!--<div class="panel-body">-->
                    <div class="row">
               <!--         <h2>Proovid sellest kastist</h2>-->
                    </div>
                <!--</div>-->

            </div>
        </div>

    </div>
</div>

<div ng-include="'app/templates/main/partial/detailview_footer.html'"></div>