<div ng-include="'app/templates/main/partial/detailview_header.html'"></div>

<div id="elementToFocus" tabindex="1" style="outline: 0" ng-arrow-left="detailCtrl.reload({table:'file', left:true})" ng-arrow-right="detailCtrl.reload({table:'file', right:true})"  class="panel detailview-page">
    <div class="panel-body detailview-max-width" data-ng-if="detailCtrl.results != null">


        <div class="row">
            <div ng-class="detailCtrl.results.filename.endsWith('png') ||
                           detailCtrl.results.filename.endsWith('jpeg') ||
                           detailCtrl.results.filename.endsWith('svg') ||
                           detailCtrl.results.filename.endsWith('jpg') ||
                           detailCtrl.results.filename.endsWith('mp4') ? 'col-sm-12' : 'col-lg-6'" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">

                <div class="detailview-title">
                    <h2>
                        <span data-ng-if="detailCtrl.results.specimen_image_attachment === 2">
                            {{ 'DETAIL.ATTACHMENT.HEADING_PHOTO_ARCHIVE' | translate }}:
                            <span data-ng-if="detailCtrl.results.image_number && detailCtrl.results.image_number != null">{{ detailCtrl.results.image_number }}</span>
                        </span>
                        <span data-ng-if="detailCtrl.results.specimen_image_attachment === 1">
                            {{ 'DETAIL.ATTACHMENT.HEADING_SPECIMEN_IMAGE' | translate }}:
                            <span data-ng-if="detailCtrl.results.specimen__coll__number && detailCtrl.results.specimen__coll__number != null">{{ detailCtrl.results.specimen__coll__number | split:' ':0 }}</span>
                            <span data-ng-if="detailCtrl.results.specimen__specimen_id && detailCtrl.results.specimen__specimen_id != null">{{ detailCtrl.results.specimen__specimen_id }}</span>
                            <span data-ng-if="detailCtrl.results.specimen_id && detailCtrl.results.specimen_id != null">(ID: {{ detailCtrl.results.specimen_id }})</span>
                        </span>
                        <span data-ng-if="detailCtrl.results.specimen_image_attachment === 3">{{ 'DETAIL.ATTACHMENT.HEADING' | translate }}:
                            <span data-ng-if="detailCtrl.results.description && detailCtrl.results.description != null">
                                <localize et="detailCtrl.results.description" en="detailCtrl.results.description_en"/>
                            </span>
                        </span>
                    </h2>
                    <div>
                        <em> {{ 'DETAIL.ATTACHMENT.FILE_ID_HEADING' | translate }}: {{detailCtrl.results.id}}</em>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">

            <!--IMAGES AND VIDEOS-->
            <div ng-class="detailCtrl.results.filename.endsWith('png') ||
                           detailCtrl.results.filename.endsWith('jpeg') ||
                           detailCtrl.results.filename.endsWith('svg') ||
                           detailCtrl.results.filename.endsWith('jpg') ||
                           detailCtrl.results.filename.endsWith('mp4') ? 'col-sm-6' : 'col-lg-6'"
                 data-ng-if="detailCtrl.results.filename != null">
                <div data-ng-if="detailCtrl.results.filename.endsWith('png') || detailCtrl.results.filename.endsWith('jpeg') || detailCtrl.results.filename.endsWith('svg') || detailCtrl.results.filename.endsWith('jpg')">
                    <h3> {{ 'API_TRANSLATION.PHOTO_ARCHIVE.PHOTO' | translate }} </h3>

                    <a href title="{{detailCtrl.service.getFileLink({size: 'large', filename: detailCtrl.results.uuid_filename})}}" data-ng-click="detailCtrl.service.openUrlInNewWindow({url: detailCtrl.service.getFileLink({size: 'large', filename: detailCtrl.results.uuid_filename})})">
                        <img id="img-size" spinner-load ng-src="{{detailCtrl.service.getFileLink({size: 'medium', filename: detailCtrl.results.uuid_filename})}}" class="window-size"/>
                    </a>
                    <div class="img-settings">
                        <div class="img-text">
                            {{'API_TRANSLATION.PHOTO_ARCHIVE.SIZE ' | translate }}:
                            <a href="{{detailCtrl.service.getFileLink({size: 'small', filename: detailCtrl.results.uuid_filename})}}" target="_blank">{{ 'INDEX.SMALL' | translate }}</a>
                            |
                            <a href="{{detailCtrl.service.getFileLink({size: 'medium', filename: detailCtrl.results.uuid_filename})}}" target="_blank">{{ 'INDEX.MEDIUM' | translate }}</a>
                            |
                            <a href="{{detailCtrl.service.getFileLink({size: 'large', filename: detailCtrl.results.uuid_filename})}}" target="_blank">{{ 'INDEX.LARGE' | translate }}</a>
                            |
                            <a href="{{detailCtrl.service.getFileLink({filename: detailCtrl.results.uuid_filename})}}" target="_blank">{{ 'INDEX.ORIGINAL' | translate }}</a>
                            |
                            <button class="btn btn-primary btn-sm" data-ng-click="detailCtrl.service.shareImage(detailCtrl.results)">
                                <i class="fa fa-facebook-f" aria-hidden="true"></i> &nbsp;{{ 'INDEX.SHARE' | translate }}
                            </button>

                        </div>
                    </div>

                </div>

                <!-- TODO: Add more formats -->
                <div data-ng-if="detailCtrl.results.filename.endsWith('mp4')">
                    <h3> {{ 'API_TRANSLATION.ATTACHMENT.VIDEO' | translate }} </h3>

                    <video data-ng-if="detailCtrl.results.filename.endsWith('mp4')" width="100%" controls loop>
                        <source src="{{detailCtrl.service.getFileLink({filename: detailCtrl.results.uuid_filename})}}" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- MAIN INFORMATION -->
            <div ng-class="detailCtrl.results.filename.endsWith('png') ||
                           detailCtrl.results.filename.endsWith('jpeg') ||
                           detailCtrl.results.filename.endsWith('svg') ||
                           detailCtrl.results.filename.endsWith('jpg') ||
                           detailCtrl.results.filename.endsWith('mp4') ? 'col-sm-6' : 'col-lg-6'">

                <h3> {{ 'DETAILVIEW_TABLE_HEADER' | translate }} </h3>
                <table class="table table-bordered table-hover table-header-styles">

                    <!-- SPECIMEN START -->

                    <tr data-ng-if="detailCtrl.results.specimen__coll__number && detailCtrl.results.specimen__coll__number != null">
                        <td> {{' API_TRANSLATION.SPECIMEN.COLL__NUMBER' | translate }} </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object: 'specimen', id: detailCtrl.results.specimen_id})">
                                {{detailCtrl.results.specimen__coll__number}}
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.specimen__specimen_id && detailCtrl.results.specimen__specimen_id != null">
                        <td> {{' API_TRANSLATION.SPECIMEN.SPECIMEN_ID' | translate }} </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object: 'specimen', id: detailCtrl.results.specimen_id})">
                                {{detailCtrl.results.specimen__specimen_id}}
                            </a>
                        </td>
                    </tr>

                    <!--NAME START-->
                    <tr data-ng-if="detailCtrl.results.specimenIdentification.count > 0">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.SPECIMEN_NAME' | translate }} </td>
                        <td>
                            <span>
                                <a href data-ng-click="detailCtrl.service.openUrlInNewWindow({url:'http://fossiilid.info/'+detailCtrl.results.specimenIdentification.results[0].taxon_id})">
                                    {{detailCtrl.results.specimenIdentification.results[0].taxon__taxon}}
                                </a>
                            </span>
                            <span data-ng-if="(detailCtrl.results.specimenIdentification.results[0].name && detailCtrl.results.specimenIdentification.results[0].name != null) && detailCtrl.results.specimenIdentification.results[0].name != detailCtrl.results.specimenIdentification.results[0].taxon__taxon">
                                | {{ detailCtrl.results.specimenIdentification.results[0].name }}
                            </span>
                        </td>
                    </tr>

                    <!--First-->
                    <tr data-ng-if="detailCtrl.results.specimen__specimenidentification__taxon__taxon
                        && detailCtrl.results.specimen__specimenidentification__taxon__taxon != null">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.NAME' | translate }} </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openUrlInNewWindow({url:'http://fossiilid.info/'+detailCtrl.results.specimen__specimenidentification__taxon__id})">
                                {{ detailCtrl.results.specimen__specimenidentification__taxon__taxon }}
                            </a>
                        </td>
                    </tr>

                    <!--Second-->
                    <tr data-ng-if="detailCtrl.results.specimen__specimenidentification__taxon__taxon == null &&
                        (detailCtrl.results.specimen__specimenidentification__taxon__name && detailCtrl.results.specimen__specimenidentification__taxon__name != null)">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.NAME' | translate }} </td>
                        <td> {{ detailCtrl.results.specimen__specimenidentification__taxon__name }} </td>
                    </tr>

                    <!--Third-->
                    <!--TODO: Classification_mineral_name-->

                    <!--Fourth-->
                    <tr data-ng-if="(detailCtrl.results.specimen__specimenidentification__taxon__taxon == null && detailCtrl.results.specimen__specimenidentification__taxon__name == null)
                        && ((detailCtrl.results.specimen__specimenidentificationgeologies__name && specimen__specimenidentificationgeologies__name != null)
                        || (detailCtrl.results.specimen__specimenidentificationgeologies__name_en && specimen__specimenidentificationgeologies__name_en != null))">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.NAME' | translate }} </td>
                        <td>
                            <localize et="detailCtrl.results.specimen__specimenidentificationgeologies__name"
                                      en="detailCtrl.results.specimen__specimenidentificationgeologies__name_en"
                        </td>
                    </tr>
                    <!--NAME END-->

                    <tr data-ng-if="(detailCtrl.results.specimen__locality__locality && detailCtrl.results.specimen__locality__locality != null)
                            || (detailCtrl.results.specimen__locality__locality_en && detailCtrl.results.specimen__locality__locality_en != null) ">
                        <td>
                            <localize-label et="'API_TRANSLATION.SPECIMEN_IMAGE.LOCALITY'"
                                            en="'API_TRANSLATION.SPECIMEN_IMAGE.LOCALITY_EN'"/>
                        </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'locality',id:detailCtrl.results.specimen__locality})">
                                <localize et="detailCtrl.results.specimen__locality__locality"
                                          en="detailCtrl.results.specimen__locality__locality_en"/>
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="(detailCtrl.results.specimen__stratigraphy__stratigraphy && detailCtrl.results.specimen__stratigraphy__stratigraphy != null)
                            || (detailCtrl.results.specimen__stratigraphy__stratigraphy_en && detailCtrl.results.specimen__stratigraphy__stratigraphy_en != null) ">
                        <td>
                            <localize-label et="'API_TRANSLATION.SPECIMEN_IMAGE.STRATIGRAPHY'"
                                            en="'API_TRANSLATION.SPECIMEN_IMAGE.STRATIGRAPHY_EN'"/>
                        </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'stratigraphy',id:detailCtrl.results.specimen__stratigraphy})">
                                <localize et="detailCtrl.results.specimen__stratigraphy__stratigraphy"
                                          en="detailCtrl.results.specimen__stratigraphy__stratigraphy_en"/>
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.image_scalebar && detailCtrl.results.image_scalebar != null">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.SCALEBAR' | translate }} </td>
                        <td> {{ detailCtrl.results.image_scalebar }} </td>
                    </tr>

                    <!-- SPECIMEN END -->

                    <!-- PHOTO ARCHIVE START -->

                    <tr data-ng-if="detailCtrl.results.image_number && detailCtrl.results.image_number != null">
                        <td> {{ 'API_TRANSLATION.PHOTO_ARCHIVE.PHOTO_NUMBER' | translate }} </td>
                        <td>{{ detailCtrl.results.image_number }}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.imageset__imageset_number && detailCtrl.results.imageset__imageset_number != null">
                        <td> {{ 'API_TRANSLATION.PHOTO_ARCHIVE.IMAGESET__IMAGESET_NUMBER' | translate }} </td>
                        <td>{{ detailCtrl.results.imageset__imageset_number }}</td>
                    </tr>

                    <tr data-ng-if="(detailCtrl.results.image_description && detailCtrl.results.image_description != null)
                        || (detailCtrl.results.image_description_en && detailCtrl.results.image_description_en != null)">
                        <td> {{ 'API_TRANSLATION.PHOTO_ARCHIVE.IMAGE_DESCRIPTION' | translate }} </td>
                        <td>
                            <localize et="detailCtrl.results.image_description" en="detailCtrl.results.image_description_en"/>
                        </td>
                    </tr>

                    <!-- PHOTO ARCHIVE END -->

                    <tr data-ng-if="(detailCtrl.results.description && detailCtrl.results.description != null)
                        || (detailCtrl.results.description_en && detailCtrl.results.description_en != null)">
                        <td>
                            <span data-ng-if="detailCtrl.results.specimen_image_attachment === 1">
                                {{ 'API_TRANSLATION.ATTACHMENT.DESCRIPTION' | translate }}
                            </span>

                            <span data-ng-if="detailCtrl.results.specimen_image_attachment === 2">
                                {{ 'API_TRANSLATION.ATTACHMENT.TITLE' | translate }}
                            </span>

                            <span data-ng-if="detailCtrl.results.specimen_image_attachment === 3">
                                {{ 'API_TRANSLATION.ATTACHMENT.TITLE' | translate }}
                            </span>
                        </td>
                        <td>
                            <localize et="detailCtrl.results.description" en="detailCtrl.results.description_en"/>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.specimen_image_attachment === 3
                        && ((detailCtrl.results.type__value && detailCtrl.results.type__value != null)
                        || (detailCtrl.results.type__value_en && detailCtrl.results.type__value_en != null))">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.TYPE' | translate }} </td>
                        <td>
                            <localize et="detailCtrl.results.type__value" en="detailCtrl.results.type__value_en" />
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.attachment_format__value && detailCtrl.results.attachment_format__value != null">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.FORMAT' | translate }} </td>
                        <td> {{ detailCtrl.results.attachment_format__value }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.author__agent && detailCtrl.results.author__agent != null">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.AUTHOR ' | translate }} </td>
                        <td> {{ detailCtrl.results.author__agent }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.author__agent == null && (detailCtrl.results.author_free != null && detailCtrl.results.author_free)">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.AUTHOR ' | translate }} </td>
                        <td> {{ detailCtrl.results.author_free }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date_created && detailCtrl.results.date_created != null">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.DATE ' | translate }} </td>
                        <td> {{ detailCtrl.results.date_created | date:dateFormat }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date_created == null && (detailCtrl.results.date_created_free && detailCtrl.results.date_created_free != null)">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.DATE ' | translate }} </td>
                        <td> {{ detailCtrl.results.date_created_free }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.tags && detailCtrl.results.tags != null">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.TAGS' | translate }} </td>
                        <td> {{ detailCtrl.results.tags }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.filename && detailCtrl.results.filename != null">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.FILENAME' | translate }} </td>
                        <td>
                            <a target="_blank" ng-href="{{detailCtrl.service.getFileLink({filename: detailCtrl.results.uuid_filename})}}">
                                {{detailCtrl.results.filename}}
                                <!--<i data-ng-if="detailCtrl.results.filename.endsWith('pdf')"-->
                                <!--title="{{detailCtrl.service.getFileLink({filename: detailCtrl.results.uuid_filename})}}"-->
                                <!--class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>-->

                                <!--<i data-ng-if="detailCtrl.results.filename.endsWith('txt')"-->
                                <!--title="{{detailCtrl.service.getFileLink({filename: detailCtrl.results.uuid_filename})}}"-->
                                <!--class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>-->

                                <!--<i data-ng-if="detailCtrl.results.filename.endsWith('xlsx') || detailCtrl.results.filename.endsWith('ods') || detailCtrl.results.filename.endsWith('xls')"-->
                                <!--title="{{detailCtrl.service.getFileLink({filename: detailCtrl.results.uuid_filename})}}"-->
                                <!--class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i>-->

                                <!--<i data-ng-if="detailCtrl.results.filename.endsWith('mp4')"-->
                                <!--title="{{detailCtrl.service.getFileLink({filename: detailCtrl.results.uuid_filename})}}"-->
                                <!--class="fa fa-file-video-o fa-2x" aria-hidden="true"></i>-->

                                <!--<span data-ng-if="detailCtrl.results.filename.endsWith('png') || detailCtrl.results.filename.endsWith('jpeg') || detailCtrl.results.filename.endsWith('svg') || detailCtrl.results.filename.endsWith('jpg')">-->
                                <!--{{ detailCtrl.results.filename }}-->
                                <!--</span>-->
                                <!--&lt;!&ndash;<img title="{{detailCtrl.service.getFileLink({filename: detailCtrl.results.uuid_filename})}}"&ndash;&gt;-->
                                <!--&lt;!&ndash;data-ng-if="detailCtrl.results.filename.endsWith('png') || detailCtrl.results.filename.endsWith('jpeg') || detailCtrl.results.filename.endsWith('svg') || detailCtrl.results.filename.endsWith('jpg')"&ndash;&gt;-->
                                <!--&lt;!&ndash;class="previewImage"&ndash;&gt;-->
                                <!--&lt;!&ndash;src="{{detailCtrl.service.getFileLink({filename: detailCtrl.results.uuid_filename})}}"/>&ndash;&gt;-->
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.original_filename && detailCtrl.results.original_filename">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.ORIGINAL_FILENAME' | translate }} </td>
                        <td style="word-break: break-all"> {{ detailCtrl.results.original_filename }} </td>
                    </tr>

                    <!--PHOTO ARCHIVE-->
                    <tr data-ng-if="detailCtrl.results.image_object && detailCtrl.results.image_object != null">
                        <td> {{ 'API_TRANSLATION.PHOTO_ARCHIVE.OBJECT' | translate }} </td>
                        <td> {{ detailCtrl.results.image_object }} </td>
                    </tr>

                    <!--PHOTO ARCHIVE-->
                    <tr data-ng-if="detailCtrl.results.image_place && detailCtrl.results.image_place != null">
                        <td> {{ 'API_TRANSLATION.PHOTO_ARCHIVE.PLACE' | translate }} </td>
                        <td> {{ detailCtrl.results.image_place }} </td>
                    </tr>

                    <!--PHOTO ARCHIVE-->
                    <tr data-ng-if="(detailCtrl.results.locality__locality && detailCtrl.results.locality__locality != null)
                        && (detailCtrl.results.locality__locality_en && detailCtrl.results.locality__locality != null)">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.LOCALITY__LOCALITY' | translate }} </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object: 'locality', id: detailCtrl.results.locality_id})">
                                <localize et="detailCtrl.results.locality__locality" en="detailCtrl.results.locality__locality_en" />
                            </a>
                        </td>
                    </tr>

                    <!--PHOTO ARCHIVE-->
                    <tr data-ng-if="detailCtrl.results.image_latitude && detailCtrl.results.image_latitude != null">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.IMAGE_LATITUDE' | translate }} </td>
                        <td> {{ detailCtrl.results.image_latitude.toFixed(5) }} </td>
                    </tr>

                    <!--PHOTO ARCHIVE-->
                    <tr data-ng-if="detailCtrl.results.image_longitude && detailCtrl.results.image_longitude != null">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.IMAGE_LONGITUDE' | translate }} </td>
                        <td> {{ detailCtrl.results.image_longitude.toFixed(5) }} </td>
                    </tr>

                    <!--PHOTO ARCHIVE-->
                    <tr data-ng-if="detailCtrl.results.image_people && detailCtrl.results.image_people != null">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.PEOPLE' | translate }} </td>
                        <td> {{ detailCtrl.results.image_people }} </td>
                    </tr>

                    <!--PHOTO ARCHIVE-->
                    <tr data-ng-if="detailCtrl.results.image_width != null && detailCtrl.results.image_height != null">
                        <td> {{ 'API_TRANSLATION.PHOTO_ARCHIVE.SIZE' | translate }} </td>
                        <td> {{ detailCtrl.results.image_width
                            + " × "
                            + detailCtrl.results.image_height
                            + " px" }}
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.device__name && detailCtrl.results.device__name != null">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.DEVICE' | translate }} </td>
                        <td> {{ detailCtrl.results.device__name }} </td>
                    </tr>

                    <!--TODO: Device free-->

                    <tr data-ng-if="detailCtrl.results.agent_digitised__agent && detailCtrl.results.agent_digitised__agent != null">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.PERSON_DIGITISED' | translate }} </td>
                        <td> {{ detailCtrl.results.agent_digitised__agent }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date_digitised && detailCtrl.results.date_digitised != null">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.DATE_DIGITISED' | translate }} </td>
                        <td> {{ detailCtrl.results.date_digitised | date:dateFormat }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date_digitised == null && (detailCtrl.results.date_digitised_free && detailCtrl.results.date_digitised_free != null)">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.DATE_DIGITISED' | translate }} </td>
                        <td> {{ detailCtrl.results.date_digitised_free }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.device_digitised__name && detailCtrl.results.device_digitised__name != null">
                        <td> {{ 'API_TRANSLATION.PHOTO_ARCHIVE.DEVICE_DIGITISED__NAME' | translate }} </td>
                        <td> {{ detailCtrl.results.device_digitised__name }} </td>
                    </tr>

                    <tr data-ng-if="(detailCtrl.results.remarks && detailCtrl.results.remarks != null)">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.REMARKS' | translate }} </td>
                        <td> {{ detailCtrl.results.remarks }} </td>
                    </tr>

                    <tr data-ng-if="(detailCtrl.results.database__name && detailCtrl.results.database__name != null)
                        && (detailCtrl.results.database__name_en && detailCtrl.results.database__name_en != null)">
                        <td> {{ 'API_TRANSLATION.ATTACHMENT.DATABASE' | translate }} </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.getAboutDatabase({database: detailCtrl.results.database__acronym})">
                                <localize et="detailCtrl.results.database__name" en="detailCtrl.results.database__name_en" />
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td><localize-label et="'API_TRANSLATION.DOI.LICENCE__LICENCE_EN'" en="'API_TRANSLATION.DOI.LICENCE__LICENCE_EN'"/></td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openUrlInNewWindow({url: detailCtrl.results.licence__licence_url_en})">
                                <localize et="detailCtrl.results.licence__licence_en" en="detailCtrl.results.licence__licence_en"/>
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date_added && detailCtrl.results.date_added != null" >
                        <td> {{'API_TRANSLATION.PHOTO_ARCHIVE.DATE_ADDED ' | translate }}</td>
                        <td> {{detailCtrl.results.date_added  | date:dateFormat }}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date_changed && detailCtrl.results.date_changed != null" >
                        <td> {{'API_TRANSLATION.PHOTO_ARCHIVE.DATE_CHANGED ' | translate }}</td>
                        <td> {{detailCtrl.results.date_changed  | date:dateFormat }}</td>
                    </tr>

                </table>

                <!--MAP-->
                <div data-ng-if="(detailCtrl.results.locality__latitude && detailCtrl.results.locality__longitude)
                    || (detailCtrl.results.image_latitude && detailCtrl.results.image_longitude)">
                    <h3> {{ 'DETAIL.DETAIL_MAP' | translate }} </h3>
                    <div id='hoverbox' class='coupontooltip'>
                        <div id='hoversystem'></div>
                        <div id='hoverstat'></div>
                    </div>

                    <div data-ng-if="detailCtrl.results.image_latitude && detailCtrl.results.image_longitude">
                        <locality-map x = "detailCtrl.results.image_latitude" y = "detailCtrl.results.image_longitude" name = "detailCtrl.results.image_latitude.toFixed(2) + '; ' + detailCtrl.results.image_longitude.toFixed(2)" fid = "detailCtrl.results.locality_id"></locality-map>
                        <a href data-ng-click="detailCtrl.service.showGoogleMap(detailCtrl.results.image_latitude, detailCtrl.results.image_longitude, detailCtrl.results.locality__locality_en)">Google Maps</a>
                        &ensp;&ensp;|&ensp;&ensp;
                        <a href data-ng-click="detailCtrl.service.showEstonianLandBoardMap(detailCtrl.results.image_latitude, detailCtrl.results.image_longitude)">Maa-amet / Estonian Land Board</a>
                    </div>

                    <div data-ng-if="(detailCtrl.results.image_latitude == null || detailCtrl.results.image_longitude == null)
                        && (detailCtrl.results.locality__latitude && detailCtrl.results.locality__longitude)">
                        <locality-map x = "detailCtrl.results.locality__latitude" y = "detailCtrl.results.locality__longitude" name = "detailCtrl.results.locality__locality_en" fid = "detailCtrl.results.locality_id"></locality-map>
                        <a href data-ng-click="detailCtrl.service.showGoogleMap(detailCtrl.results.locality__latitude, detailCtrl.results.locality__longitude, detailCtrl.results.locality__locality_en)">Google Maps</a>
                        &ensp;&ensp;|&ensp;&ensp;
                        <a href data-ng-click="detailCtrl.service.showEstonianLandBoardMap(detailCtrl.results.locality__latitude, detailCtrl.results.locality__longitude)">Maa-amet / Estonian Land Board</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Related analysis -->
        <div class="row" data-ng-if="detailCtrl.results.attach_link__analysis__id && detailCtrl.results.attach_link__analysis__id != null">
            <div class="col-lg-6">
                <h3>{{ 'API_TRANSLATION.ATTACHMENT.ANALYSIS.HEADING' | translate }}</h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.ANALYSIS.ANALYSIS_ID' | translate }} </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'analysis',id:detailCtrl.results.attach_link__analysis__id})">
                                {{ detailCtrl.results.attach_link__analysis__id }}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Related collection -->
        <div class="row" data-ng-if="detailCtrl.results.attach_link__collection__id && detailCtrl.results.attach_link__collection__id != null">
            <div class="col-lg-6">
                <h3>{{ 'API_TRANSLATION.ATTACHMENT.COLLECTION.HEADING' | translate }}</h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.COLLECTION.NUMBER' | translate }} </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'collection',id:detailCtrl.results.attach_link__collection__id})">
                                {{ detailCtrl.results.attach_link__colletion__number }}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Related dataset -->
        <div class="row" data-ng-if="detailCtrl.results.attach_link__dataset__id && detailCtrl.results.attach_link__dataset__id != null">
            <div class="col-lg-6">
                <h3>{{ 'API_TRANSLATION.ATTACHMENT.DATASET.HEADING' | translate }}</h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.DATASET.NAME' | translate }} </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'dataset',id:detailCtrl.results.attach_link__dataset__id})">
                                <localize et="detailCtrl.results.attach_link__dataset__name" en="detailCtrl.results.attach_link__dataset__name_en" />
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Related doi -->
        <div class="row" data-ng-if="detailCtrl.results.attach_link__doi__id && detailCtrl.results.attach_link__doi__id != null">
            <div class="col-lg-6">
                <h3>{{ 'API_TRANSLATION.ATTACHMENT.DOI.HEADING' | translate }}</h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.DOI.IDENTIFIER' | translate }} </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'doi',id:detailCtrl.results.attach_link__doi__id})">
                                {{ detailCtrl.results.attach_link__doi__identifier }}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Related drillcore  -->
        <div class="row" data-ng-if="detailCtrl.results.attach_link__drillcore__id && detailCtrl.results.attach_link__drillcore__id != null">
            <div class="col-lg-6">
                <h3>{{ 'API_TRANSLATION.ATTACHMENT.DRILLCORE.HEADING' | translate }}</h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.DRILLCORE.DRILLCORE' | translate }} </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'drillcore',id:detailCtrl.results.attach_link__drillcore__id})">
                                <localize et="detailCtrl.results.attach_link__drillcore__drillcore"
                                          en="detailCtrl.results.attach_link__drillcore__drillcore_en" />
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Related drillcore box -->
        <div class="row" data-ng-if="detailCtrl.results.attach_link__drillcore_box__drillcore__id && detailCtrl.results.attach_link__drillcore_box__drillcore__id != null">
            <div class="col-lg-6">
                <h3>{{ 'API_TRANSLATION.ATTACHMENT.DRILLCORE_BOX.HEADING' | translate }}</h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.DRILLCORE_BOX.NUMBER' | translate }} </th>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.DRILLCORE_BOX.DRILLCORE_BOX' | translate }} </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'corebox',id:detailCtrl.results.attach_link__drillcore_box__id})"></a>
                            {{ detailCtrl.results.attach_link__drillcore_box__number }}
                        </td>
                        <td>
                            <a href data-ng-if="detailCtrl.results.attach_link__drillcore_box__drillcore__id != null" data-ng-click="detailCtrl.service.openInNewWindow({object:'drillcore',id:detailCtrl.results.attach_link__drillcore_box__drillcore__id})">
                                <localize et="detailCtrl.results.attach_link__drillcore_box__drillcore__drillcore"
                                          en="detailCtrl.results.attach_link__drillcore_box__drillcore__drillcore_en" />
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Related locality -->
        <div class="row" data-ng-if="detailCtrl.results.attach_link__locality__id && detailCtrl.results.attach_link__locality__id != null">
            <div class="col-lg-6">
                <h3>{{ 'API_TRANSLATION.ATTACHMENT.LOCALITY.HEADING' | translate }}</h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.LOCALITY.LOCALITY' | translate }} </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'locality',id:detailCtrl.results.attach_link__locality__id})">
                                <localize et="detailCtrl.results.attach_link__locality__locality" en="detailCtrl.results.attach_link__locality__locality_en" />
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Related preparation -->
        <div class="row" data-ng-if="detailCtrl.results.attach_link__preparation__id && detailCtrl.results.attach_link__preparation__id != null">
            <div class="col-lg-6">
                <h3>{{ 'API_TRANSLATION.ATTACHMENT.PREPARATION.HEADING' | translate }}</h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.PREPARATION.NUMBER' | translate }} </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'preparation',id:detailCtrl.results.attach_link__preparation__id})">
                                {{ detailCtrl.results.attach_link__preparation__preparation_number }}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Related reference -->
        <div class="row" data-ng-if="detailCtrl.results.attach_link__reference__id && detailCtrl.results.attach_link__reference__id != null">
            <div class="col-lg-6">
                <h3>{{ 'API_TRANSLATION.ATTACHMENT.REFERENCE.HEADING' | translate }}</h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.REFERENCE.REFERENCE' | translate }} </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'reference',id:detailCtrl.results.attach_link__reference__id})">
                                {{ detailCtrl.results.attach_link__reference__reference }}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Related sample -->
        <div class="row" data-ng-if="detailCtrl.results.attach_link__sample__id && detailCtrl.results.attach_link__sample__id != null">
            <div class="col-lg-6">
                <h3>{{ 'API_TRANSLATION.ATTACHMENT.SAMPLE.HEADING' | translate }}</h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.SAMPLE.NUMBER' | translate }} </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'sample',id:detailCtrl.results.attach_link__sample__id})">
                                {{ detailCtrl.results.attach_link__sample__number }}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Related specimen -->
        <div class="row" data-ng-if="detailCtrl.results.attach_link__specimen__id && detailCtrl.results.attach_link__specimen__id != null">
            <div class="col-lg-6">
                <h3>{{ 'API_TRANSLATION.ATTACHMENT.SPECIMEN.HEADING' | translate }}</h3>

                <table class="table table-bordered table-hover">
                    <thead class="styles-for-table-headers">
                    <tr>
                        <th> {{ 'API_TRANSLATION.ATTACHMENT.SPECIMEN.NUMBER' | translate }} </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'specimen',id:detailCtrl.results.attach_link__specimen__id})">
                                {{ detailCtrl.results.attach_link__specimen__coll__number | split:' ':0 }} {{ detailCtrl.results.attach_link__specimen__specimen_id }}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>


    <div data-ng-if="detailCtrl.results == null && pageHasError" ng-include="'app/templates/main/detailview_error.html'"></div>

</div>

<div ng-include="'app/templates/main/partial/detailview_footer.html'"></div>

<script>
    $(function(){
        $('#elementToFocus').focus();
    });
</script>