<div ng-include="'app/templates/main/partial/detailview_header.html'"></div>

<div id="elementToFocus" tabindex="1" style="outline: 0" ng-arrow-left="detailCtrl.reload({table:'library', left:true})" ng-arrow-right="detailCtrl.reload({table:'library', right:true})"  class="panel detailview-page">
    <div class="panel-body detailview-max-width" data-ng-if="detailCtrl.results != null">


        <div class="row">
            <div class="col-sm-12">
                <div class="detailview-title-library">
                    <h4>
                        {{ 'DETAIL.LIBRARY.TITLE' | translate }}
                    </h4>
                    <h1>
                        <localize et="detailCtrl.results.title" en="detailCtrl.results.title_en"/>
                    </h1>
                    <h3 style="margin-top: 10px;">
                        <span>{{ 'DETAIL.LIBRARY.TITLE_COMPILED' | translate }}:</span>
                        <span>{{detailCtrl.results.author_txt}}</span>
                        <span>({{detailCtrl.results.year}})</span>
                    </h3>
                </div>
            </div>
        </div>


        <div class="row" style="padding: 0 25px;">

            <div class="col-sm-12">

                <div>
                    <span data-ng-if="detailCtrl.results.date_added && detailCtrl.results.date_added != null">
                        <b>{{' API_TRANSLATION.LIBRARY.DATE_ADDED' | translate }}:</b>
                        {{detailCtrl.results.date_added | date:dateFormat}},
                    </span>

                    <span data-ng-if="detailCtrl.results.date_changed && detailCtrl.results.date_changed != null">
                        <b>{{' API_TRANSLATION.LIBRARY.DATE_CHANGED' | translate }}:</b>
                        {{detailCtrl.results.date_changed | date:dateFormat}}
                    </span>
                </div>


                <div style="margin-top: 20px">
                    <div>
                        <b>{{' API_TRANSLATION.LIBRARY.REFERENCE_COLLECTION' | translate }}:</b>
                    </div>

                    <div>
                        <span>{{detailCtrl.results.author_txt}}</span>
                        <span>({{ 'DETAIL.LIBRARY.COMPILED' | translate }}.)</span>
                        <span>{{detailCtrl.results.year}}.</span>
                        <span><localize et="detailCtrl.results.title" en="detailCtrl.results.title_en"/>. </span>
                        <span>{{ 'DETAIL.LIBRARY.TITLE_LARGE' | translate }}.</span>
                        <span><a href="{{ getUrlPath() }}" target="_blank">{{ getUrlPath() }}</a>.</span>
                        <span>{{ 'DETAIL.LIBRARY.VISITED' | translate }}:</span>
                        <span>{{ getCurrentDate() | date:dateFormat }}</span>
                    </div>

                </div>

                <div data-ng-if="(detailCtrl.results.abstract && detailCtrl.results.abstract != null)
                            || (detailCtrl.results.abstract_en && detailCtrl.results.abstract_en != null) ">

                    <h3 style="margin-top: 30px">
                        <b>{{' API_TRANSLATION.LIBRARY.ABSTRACT' | translate }}</b>
                    </h3>

                    <div>
                        <p data-ng-if="detailCtrl.service.getCurrentLanguage() === 'et'" ng-bind-html="detailCtrl.results.abstract"></p>

                        <p data-ng-if="detailCtrl.service.getCurrentLanguage() === 'en' && detailCtrl.results.abstract_en && detailCtrl.results.abstract_en != null"
                           ng-bind-html="detailCtrl.results.abstract_en"></p>

                        <p data-ng-if="detailCtrl.service.getCurrentLanguage() === 'en' && detailCtrl.results.abstract_en === null && detailCtrl.results.abstract != null"
                           ng-bind-html="detailCtrl.results.abstract"></p>
                    </div>

                </div>

            </div>

        </div>

        <div class="row" style="padding: 0 25px;" data-ng-if="detailCtrl.referenceCollections.length > 0">
            <div class="col-sm-12">
                <h3><b>{{ 'DETAIL.LIBRARY.REFERENCE_COLLECTIONS' | translate }}</b></h3>

                <div data-ng-repeat="entity in detailCtrl.referenceCollections track by $index">

                    <div style="padding: 5px 0; margin: 5px 0 5px 30px; font-size: 1em; border-top: dotted 1.2pt #ccc;">
                        <span>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'reference',id:entity.reference})">
                                <b style="font-size: 14px">{{$index + 1}}.</b>
                            </a>
                        </span>

                        <span data-ng-if="entity.reference__author && entity.reference__author != null">
                            {{ entity.reference__author }},
                        </span>

                        <span data-ng-if="entity.reference__year && entity.reference__year != null">
                            {{ entity.reference__year }}.
                        </span>

                        <span data-ng-if="entity.reference__title && entity.reference__title != null">
                            {{ entity.reference__title }}.
                        </span>

                        <span data-ng-if="entity.reference__book && entity.reference__book != null">
                            {{ entity.reference__book }},
                        </span>

                        <span data-ng-if="entity.reference__publisher && entity.reference__publisher != null">
                            {{ entity.reference__publisher }}.
                        </span>

                        <span data-ng-if="entity.reference__publisher_place && entity.reference__publisher_place != null">
                            {{ entity.reference__publisher_place }}.
                        </span>

                        <span data-ng-if="entity.reference__journal__journal_name && entity.reference__journal__journal_name != null">
                            <i>{{ entity.reference__journal__journal_name }}</i>,
                        </span>

                        <span data-ng-if="entity.reference__volume && entity.reference__volume != null">
                            <b>{{ entity.reference__volume }}</b>,
                        </span>
                        
                        <span data-ng-if="entity.reference__number && entity.reference__number != null">
                            {{ entity.reference__number }},
                        </span>
                        
                        <span data-ng-if="entity.reference__pages && entity.reference__pages != null">
                            {{ entity.reference__pages }}.
                        </span>

                        <span data-ng-if="entity.reference__doi && entity.reference__doi != null">
                            <a href data-ng-click="detailCtrl.service.openDoiInNewWindow({doi:entity.reference__doi})">
                                <b>DOI:{{entity.reference__doi}}</b>
                            </a>
                        </span>

                        <span data-ng-if="entity.reference__attachment__filename && entity.reference__attachment__filename != null">
                            <a href data-ng-click="detailCtrl.service.openUrlInNewWindow({url: detailCtrl.service.getFileLink({filename: entity.reference__attachment__filename})})">
                                <b style="color: green">PDF</b>
                            </a>
                        </span>

                        <span data-ng-if="entity.reference__attachment__filename === null
                            && (entity.reference__url && entity.reference__url !== null)">
                            <a href data-ng-click="detailCtrl.service.openUrlInNewWindow({url: entity.reference__url})">
                                <b style="color: red">URL</b>
                            </a>
                        </span>
                    </div>

                </div>

            </div>
        </div>


        <div class="row" data-ng-if="detailCtrl.referenceCollections.length === 0">
            <div class="col-sm-12">
                <h3> {{ 'DETAIL.LIBRARY.REFERENCE_COLLECTIONS' | translate }} </h3>

                <div>
                    {{ 'DETAIL.LIBRARY.REFERENCE_COLLECTIONS_ERROR' | translate }}
                </div>

            </div>
        </div>

    </div>


    <div data-ng-if="detailCtrl.results == null && pageHasError" ng-include="'app/templates/main/detailview_error.html'"></div>

</div>

<div ng-include="'app/templates/main/partial/detailview_footer.html'"></div>

<script>
    $(function(){
        $('#elementToFocus').focus();
    });
</script>