<div ng-include="'app/templates/main/partial/detailview_header.html'"></div>

<div id="elementToFocus" tabindex="1" style="outline: 0" ng-arrow-left="detailCtrl.reload({table:'reference', left:true})" ng-arrow-right="detailCtrl.reload({table:'reference', right:true})"  class="panel detailview-page">
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-6" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">

                <div class="detailview-title">
                    <h2>
                        <localize et="detailCtrl.results.reference" en="null"/>
                    </h2>
                </div>

                <h3> {{ 'DETAILVIEW_TABLE_HEADER' | translate }} </h3>
                <table class="table table-bordered table-hover table-header-styles">

                    <tr data-ng-if="detailCtrl.results.id && detailCtrl.results.id != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.ID ' | translate }} </td>
                        <td> {{ detailCtrl.results.id }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.reference && detailCtrl.results.reference != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.REFERENCE ' | translate }} </td>
                        <td> {{ detailCtrl.results.reference }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.author && detailCtrl.results.author != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.AUTHOR ' | translate }} </td>
                        <td> {{ detailCtrl.results.author }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.year && detailCtrl.results.year != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.YEAR ' | translate }} </td>
                        <td> {{ detailCtrl.results.year }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.title && detailCtrl.results.title != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.TITLE ' | translate }} </td>
                        <td> {{ detailCtrl.results.title }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.title_original && detailCtrl.results.title_original != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.TITLE_ORIGINAL ' | translate }} </td>
                        <td> {{ detailCtrl.results.title_original }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.book && detailCtrl.results.book != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.BOOK ' | translate }} </td>
                        <td> {{ detailCtrl.results.book }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.book_original && detailCtrl.results.book_original != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.BOOK ' | translate }} </td>
                        <td> {{ detailCtrl.results.book_original }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.publisher && detailCtrl.results.publisher != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.PUBLISHER' | translate }} </td>
                        <td> {{ detailCtrl.results.publisher }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.publisher_place && detailCtrl.results.publisher_place != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.PUBLISHER_PLACE' | translate }} </td>
                        <td> {{ detailCtrl.results.publisher_place }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.journal__journal_name && detailCtrl.results.journal__journal_name != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.JOURNAL__JOURNAL_NAME ' | translate }} </td>
                        <td> {{ detailCtrl.results.journal__journal_name }} </td>
                    </tr>


                    <tr data-ng-if="detailCtrl.results.journal_additional && detailCtrl.results.journal_additional != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.JOURNAL_ADDITIONAL ' | translate }} </td>
                        <td> {{ detailCtrl.results.journal_additional }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.volume && detailCtrl.results.volume != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.VOLUME ' | translate }} </td>
                        <td> {{ detailCtrl.results.volume }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.number && detailCtrl.results.number != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.NUMBER' | translate }} </td>
                        <td> {{ detailCtrl.results.number }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.pages && detailCtrl.results.pages != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.PAGES ' | translate }} </td>
                        <td> {{ detailCtrl.results.pages }} </td>
                    </tr>

                    <tr data-ng-if="(detailCtrl.results.type__value && detailCtrl.results.type__value != null)
                        || (detailCtrl.results.type__value_en && detailCtrl.results.type__value_en != null) ">
                        <td>
                            <localize-label et="'API_TRANSLATION.REFERENCE.TYPE__VALUE'" en="'API_TRANSLATION.REFERENCE.TYPE__VALUE_EN'"/>
                        </td>
                        <td>
                            <localize et="detailCtrl.results.type__value" en="detailCtrl.results.type__value_en"/>
                        </td>
                    </tr>

                    <tr data-ng-if="(detailCtrl.results.language__value && detailCtrl.results.language__value != null)
                        || (detailCtrl.results.language__value_en && detailCtrl.results.language__value_en != null) ">
                        <td>
                            <localize-label et="'API_TRANSLATION.REFERENCE.LANGUAGE__VALUE'"
                                            en="'API_TRANSLATION.REFERENCE.LANGUAGE__VALUE_EN'"/>
                        </td>
                        <td>
                            <localize et="detailCtrl.results.language__value" en="detailCtrl.results.language__value_en"/>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.remarks && detailCtrl.results.remarks != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.REMARKS ' | translate }} </td>
                        <td> {{ detailCtrl.results.remarks }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.doi && detailCtrl.results.doi != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.DOI ' | translate }} </td>
                        <td>
                            <a href data-ng-if="detailCtrl.results.doi.includes('http')"
                               data-ng-click="detailCtrl.service.openUrlInNewWindow({url: detailCtrl.results.doi})">
                                {{detailCtrl.results.doi}}
                            </a>
                            <a href data-ng-if="detailCtrl.results.doi.includes('DOI')"
                               data-ng-click="detailCtrl.service.openDoiInNewWindow({doi: detailCtrl.results.doi})">
                                {{detailCtrl.results.doi}}
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.abstract && detailCtrl.results.abstract != null">
                        <td> {{ 'API_TRANSLATION.REFERENCE.ABSTRACT' | translate }} </td>
                        <td> {{ detailCtrl.results.abstract }} </td>
                    </tr>

                </table>
            </div>

            <div class="col-lg-6" data-ng-if="detailCtrl.localityReferences.length > 0">
                <h3> {{ 'API_TRANSLATION.REFERENCE.SECTIONS_DESCRIBED' | translate }} </h3>
                <table class="table table-hover table-bordered">
                    <thead class="styles-for-table-headers">
                        <tr>
                            <th> {{ 'API_TRANSLATION.REFERENCE.LOCALITY' | translate }} </th>
                            <th> {{ 'API_TRANSLATION.REFERENCE.LOCALITY_PAGES' | translate }} </th>
                            <th> {{ 'API_TRANSLATION.REFERENCE.FIGURES' | translate }} </th>
                            <th> {{ 'API_TRANSLATION.REFERENCE.REMARKS' | translate }} </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr data-ng-repeat="entity in detailCtrl.localityReferences">
                            <td data-ng-if="(entity.locality__id && entity.locality__id != null)
                                && entity.locality__locality && entity.locality__locality != null">
                                <a href data-ng-click="detailCtrl.service.openInNewWindow({object: 'locality', id: entity.locality__id})">
                                    <localize en="entity.locality__locality_en" et="entity.locality__locality" />
                                </a>
                            </td>
                            <td data-ng-if="entity.locality__id === null && entity.locality__locality != null && entity.locality__locality_id != null">
                                <localize en="entity.locality__locality_en" et="entity.locality__locality" />

                            </td>
                            <td> {{ entity.pages }} </td>
                            <td> {{ entity.figures }} </td>
                            <td> {{ entity.remarks }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-6" data-ng-if="detailCtrl.attachmentLink.length > 0">
                <h3> {{ 'API_TRANSLATION.REFERENCE.LINKED_FILES' | translate }} </h3>
                <table class="table table-hover table-bordered">
                    <thead class="styles-for-table-headers">
                        <tr>
                            <th> {{ 'API_TRANSLATION.REFERENCE.ID' | translate }} </th>
                            <th> {{ 'API_TRANSLATION.REFERENCE.TYPE' | translate }} </th>
                            <th> {{ 'API_TRANSLATION.REFERENCE.DESCRIPTION' | translate }} </th>
                            <th> {{ 'API_TRANSLATION.REFERENCE.PREVIEW' | translate }} </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr data-ng-repeat="entity in detailCtrl.attachmentLink">
                            <td> {{ entity.attachment__id }} </td>
                            <td data-ng-if="entity.locality__id === null && entity.locality__locality != null && entity.locality__locality_id != null">
                                <localize en="entity.locality__locality_en" et="entity.locality__locality" />

                            </td>
                            <td>
                                <a href data-ng-if="entity.attachment__id != null"
                                   data-ng-click="detailCtrl.service.openInNewWindow({object: 'attachment', id: entity.attachment__id})">
                                    <localize et="entity.attachment__type__value" en="entity.attachment__type__value_en" />
                                </a>
                            </td>
                            <td>
                                <localize et="entity.attachment__description" en="entity.attachment__description_en" />
                            </td>
                            <td class="text-center">
                                <a target="_blank" ng-href="{{detailCtrl.service.getDownloadLink(entity.attachment__filename)}}">
                                    <i data-ng-if="entity.attachment__filename.endsWith('pdf')"
                                       title="{{detailCtrl.service.getDownloadLink(entity.attachment__filename)}}"
                                       class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>

                                    <i data-ng-if="entity.attachment__filename.endsWith('txt')"
                                       title="{{detailCtrl.service.getDownloadLink(entity.attachment__filename)}}"
                                       class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>

                                    <i data-ng-if="entity.attachment__filename.endsWith('xlsx') || entity.attachment__filename.endsWith('ods')"
                                       title="{{detailCtrl.service.getDownloadLink(entity.attachment__filename)}}"
                                       class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i>

                                    <img title="{{detailCtrl.service.getDownloadLink(entity.attachment__filename)}}"
                                         data-ng-if="entity.attachment__filename.endsWith('png') || entity.attachment__filename.endsWith('jpeg') || entity.attachment__filename.endsWith('svg') || entity.attachment__filename.endsWith('jpg')"
                                         class="previewImage"
                                         src="{{detailCtrl.service.getDownloadLink(entity.attachment__filename)}}"/>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<div ng-include="'app/templates/main/partial/detailview_footer.html'"></div>

<script>
    $(function(){
        $('#elementToFocus').focus();
    });
</script>