<div ng-include="'app/templates/main/partial/detailview_header.html'"></div>

<div id="elementToFocus" tabindex="1" style="outline: 0" ng-arrow-left="detailCtrl.reload({table:'specimenImage', left:true})" ng-arrow-right="detailCtrl.reload({table:'specimenImage', right:true})"  class="panel detailview-page">
    <div class="panel-body detailview-max-width" data-ng-if="detailCtrl.results != null">

        <div class="row">
            <div class="col-sm-12">
                <div class="detailview-title">
                    <h2>
                        {{ 'API_TRANSLATION.SPECIMEN_IMAGE.PHOTO_NUMBER ' | translate }} {{ detailCtrl.results.id }}
                    </h2>
                </div>
            </div>
        </div>

        <div class="row" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">

            <div class="col-sm-6" data-ng-if="detailCtrl.results.uuid_filename != null || detailCtrl.results.uuid_filename != null">

                <div>
                    <h3> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.PHOTO' | translate }} </h3>

                    <a href title="{{detailCtrl.service.getFileLink({size: 'medium', filename: detailCtrl.results.uuid_filename})}}" data-ng-click="detailCtrl.service.openUrlInNewWindow({url: detailCtrl.service.getFileLink({size: 'medium', filename: detailCtrl.results.uuid_filename})})">
                        <img id="img-size" spinner-load ng-src="{{detailCtrl.service.getFileLink({size: 'medium', filename: detailCtrl.results.uuid_filename})}}" class="window-size"/>
                    </a>

                    <div class="img-settings">
                        <div class="img-text">
                            {{'API_TRANSLATION.PHOTO_ARCHIVE.SIZE ' | translate }}:
                            <a href="{{detailCtrl.service.getFileLink({size: 'small', filename: detailCtrl.results.uuid_filename})}}" target="_blank">{{ 'INDEX.SMALL' | translate }}</a>
                            |
                            <a href="{{detailCtrl.service.getFileLink({size: 'medium', filename: detailCtrl.results.uuid_filename})}}" target="_blank">{{ 'INDEX.MEDIUM' | translate }}</a>
                            |
                            <a href="{{detailCtrl.service.getFileLink({size: 'large', filename: detailCtrl.results.uuid_filename})}}" target="_blank">{{ 'INDEX.LARGE' | translate }}</a>
                            |
                            <a href="{{detailCtrl.service.getFileLink({filename: detailCtrl.results.uuid_filename})}}" target="_blank">{{ 'INDEX.ORIGINAL' | translate }}</a>
                            |
                            <button class="btn btn-primary btn-sm" data-ng-click="detailCtrl.service.shareImage(detailCtrl.results)">
                                <i class="fa fa-facebook-f" aria-hidden="true"></i> &nbsp;{{ 'INDEX.SHARE' | translate }}
                            </button>

                        </div>
                    </div>

                </div>

            </div>

            <div class="col-sm-6" data-ng-if="detailCtrl.results.uuid_filename === null">
                <h3> {{ 'API_TRANSLATION.PHOTO_ARCHIVE.PHOTO' | translate }} </h3>
                <i class="fa fa-picture-o fa-5x window-size text-center" aria-hidden="true"></i>
            </div>

            <div class="col-sm-6">
                <table class="table table-bordered table-hover table-header-styles">
                    <h3> {{ 'DETAILVIEW_TABLE_HEADER' | translate }} </h3>
                    <thead>
                    </thead>
                    <tbody>

                    <tr data-ng-if="detailCtrl.results.specimen__specimen_id && detailCtrl.results.specimen__specimen_id != null">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.SPECIMEN_ID' | translate }} </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'specimen', id:detailCtrl.results.specimen_id})">
                                {{ detailCtrl.results.specimen__specimen_id }}
                            </a>
                        </td>
                    </tr>

                    <!--NAME START-->

                    <!--First-->
                    <tr data-ng-if="detailCtrl.results.specimen__specimenidentification__taxon__taxon
                        && detailCtrl.results.specimen__specimenidentification__taxon__taxon != null">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.NAME' | translate }} </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openUrlInNewWindow({url:'http://fossiilid.info/'+detailCtrl.results.specimen__specimenidentification__taxon__id})">
                                {{ detailCtrl.results.specimen__specimenidentification__taxon__taxon }}
                            </a>
                        </td>
                    </tr>

                    <!--Second-->
                    <tr data-ng-if="detailCtrl.results.specimen__specimenidentification__taxon__taxon == null &&
                        (detailCtrl.results.specimen__specimenidentification__taxon__name && detailCtrl.results.specimen__specimenidentification__taxon__name != null)">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.NAME' | translate }} </td>
                        <td> {{ detailCtrl.results.specimen__specimenidentification__taxon__name }} </td>
                    </tr>

                    <!--Third-->
                    <!--TODO: Classification_mineral_name-->

                    <!--Fourth-->
                    <tr data-ng-if="(detailCtrl.results.specimen__specimenidentification__taxon__taxon == null && detailCtrl.results.specimen__specimenidentification__taxon__name == null)
                        && ((detailCtrl.results.specimen__specimenidentificationgeologies__name && specimen__specimenidentificationgeologies__name != null)
                        || (detailCtrl.results.specimen__specimenidentificationgeologies__name_en && specimen__specimenidentificationgeologies__name_en != null))">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.NAME' | translate }} </td>
                        <td>
                            <localize et="detailCtrl.results.specimen__specimenidentificationgeologies__name"
                                      en="detailCtrl.results.specimen__specimenidentificationgeologies__name_en"
                        </td>
                    </tr>

                    <!--NAME END-->

                    <tr data-ng-if="(detailCtrl.results.specimen__locality__locality && detailCtrl.results.specimen__locality__locality != null)
                            || (detailCtrl.results.specimen__locality__locality_en && detailCtrl.results.specimen__locality__locality_en != null) ">
                        <td>
                            <localize-label et="'API_TRANSLATION.SPECIMEN_IMAGE.LOCALITY'"
                                            en="'API_TRANSLATION.SPECIMEN_IMAGE.LOCALITY_EN'"/>
                        </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'locality',id:detailCtrl.results.specimen__locality})">
                                <localize et="detailCtrl.results.specimen__locality__locality"
                                          en="detailCtrl.results.specimen__locality__locality_en"/>
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="(detailCtrl.results.specimen__stratigraphy__stratigraphy && detailCtrl.results.specimen__stratigraphy__stratigraphy != null)
                            || (detailCtrl.results.specimen__stratigraphy__stratigraphy_en && detailCtrl.results.specimen__stratigraphy__stratigraphy_en != null) ">
                        <td>
                            <localize-label et="'API_TRANSLATION.SPECIMEN_IMAGE.STRATIGRAPHY'"
                                            en="'API_TRANSLATION.SPECIMEN_IMAGE.STRATIGRAPHY_EN'"/>
                        </td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'stratigraphy',id:detailCtrl.results.specimen__stratigraphy})">
                                <localize et="detailCtrl.results.specimen__stratigraphy__stratigraphy"
                                          en="detailCtrl.results.specimen__stratigraphy__stratigraphy_en"/>
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.scalebar && detailCtrl.results.scalebar != null">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.SCALEBAR' | translate }} </td>
                        <td> {{ detailCtrl.results.scalebar }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.tags && detailCtrl.results.tags != null">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.TAGS' | translate }} </td>
                        <td> {{ detailCtrl.results.tags }} </td>
                    </tr>

                    <tr data-ng-if="(detailCtrl.results.description && detailCtrl.results.description != null)
                        || (detailCtrl.results.description_en && detailCtrl.results.description_en != null)">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.DESCRIPTION' | translate }} </td>
                        <localize et="detailCtrl.results.decription" en="detailCtrl.results.description_en"/>
                    </tr>

                    <tr data-ng-if="(detailCtrl.results.remarks && detailCtrl.results.remarks != null)
                        || (detailCtrl.results.remarks_en && detailCtrl.results.remarks_en != null)">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.REMARKS' | translate }} </td>
                        <localize et="detailCtrl.results.remarks" en="detailCtrl.results.remarks_en"/>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.image && detailCtrl.results.image != null">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.IMAGE' | translate }} </td>
                        <td> {{ detailCtrl.results.image }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date && detailCtrl.results.date != null">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.DATE' | translate }} </td>
                        <td> {{ detailCtrl.results.date | date:dateFormat }} </td>
                    </tr>

                    <tr data-ng-if=" detailCtrl.results.date == null
                        && (detailCtrl.results.date_taken_free && detailCtrl.results.date_taken_free != null)">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.DATE_TAKEN_FREE' | translate }} </td>
                        <td> {{ detailCtrl.results.date | date:dateFormat }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.device_id__name && detailCtrl.results.device_id__name != null">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.DEVICE' | translate }} </td>
                        <td>
                            <first-not-null values="[detailCtrl.results.camera, detailCtrl.results.device_id__name]" />
                        </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.camera && detailCtrl.results.camera != null">
                        <td> {{ 'API_TRANSLATION.SPECIMEN_IMAGE.DEVICE_FREE' | translate }} </td>
                        <td>{{ detailCtrl.results.camera }}</td>
                    </tr>

                    <!--TODO:file_source ??? image_source_type-->

                    <tr data-ng-if="detailCtrl.results.size_x != null && detailCtrl.results.size_y != null" >
                        <td> {{'API_TRANSLATION.PHOTO_ARCHIVE.SIZE ' | translate }}</td>
                        <td> {{ detailCtrl.results.size_x
                            + " × "
                            + detailCtrl.results.size_y
                            + " px" }}
                        </td>
                    </tr>

                    <!--<tr data-ng-if="detailCtrl.results.agent__forename != null && detailCtrl.results.agent__surename != null">-->
                        <!--<td> {{'API_TRANSLATION.SPECIMEN_IMAGE.AUTHOR' | translate }}</td>-->
                        <!--<td> {{ detailCtrl.results.agent__forename + " " + detailCtrl.results.agent__surename }} </td>-->
                    <!--</tr>-->

                    <tr data-ng-if="detailCtrl.results.agent_digitised__forename != null && detailCtrl.results.agent_digitised__surename != null">
                        <td> {{'API_TRANSLATION.SPECIMEN_IMAGE.AGENT_DIGITISED' | translate }}</td>
                        <td> {{ detailCtrl.results.agent_digitised__forename + " " + detailCtrl.results.agent_digitised__surename }} </td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date_digitised && detailCtrl.results.date_digitised != null" >
                        <td> {{'API_TRANSLATION.PHOTO_ARCHIVE.DATE_DIGITISED' | translate }}</td>
                        <td> {{detailCtrl.results.date_digitised | date:dateFormat }}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.date_digitised_free && detailCtrl.results.date_digitised_free != null" >
                        <td> {{'API_TRANSLATION.PHOTO_ARCHIVE.DATE_DIGITISED_FREE' | translate }}</td>
                        <td> {{detailCtrl.results.date_digitised_free }}</td>
                    </tr>

                    <tr data-ng-if="detailCtrl.results.agent__forename != null && detailCtrl.results.agent__surename != null
                            && detailCtrl.results.copyright_agent__agent != null" >
                        <td> {{'API_TRANSLATION.SPECIMEN_IMAGE.COPYRIGHT' | translate }}</td>
                        <td> {{detailCtrl.results.agent__forename
                            + " "
                            + detailCtrl.results.agent__surename
                            + " / "
                            + detailCtrl.results.copyright_agent__agent}}
                        </td>
                    </tr>

                    <tr>
                        <td><localize-label et="'API_TRANSLATION.DOI.LICENCE__LICENCE_EN'" en="'API_TRANSLATION.DOI.LICENCE__LICENCE_EN'"/></td>
                        <td>
                            <a href data-ng-click="detailCtrl.service.openUrlInNewWindow({url: detailCtrl.results.licence__licence_url_en})">
                                <localize et="detailCtrl.results.licence__licence_en" en="detailCtrl.results.licence__licence_en"/>
                            </a>
                        </td>
                    </tr>

                    <tr data-ng-if="(detailCtrl.results.user_added && detailCtrl.results.user_added != null)
                        && (detailCtrl.results.date_added && detailCtrl.results.date_added != null)" >
                        <td> {{'API_TRANSLATION.SPECIMEN_IMAGE.DATE_ADDED ' | translate }}</td>
                        <td> {{ detailCtrl.results.user_added }} {{ detailCtrl.results.date_added  | date:dateFormat }}</td>
                    </tr>

                    <tr data-ng-if="(detailCtrl.results.user_changed && detailCtrl.results.user_changed != null)
                        && (detailCtrl.results.date_changed && detailCtrl.results.date_changed != null)" >
                        <td> {{'API_TRANSLATION.SPECIMEN_IMAGE.DATE_CHANGED ' | translate }}</td>
                        <td> {{ detailCtrl.results.user_changed }} {{ detailCtrl.results.date_changed  | date:dateFormat }}</td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </div>

    <div data-ng-if="detailCtrl.results == null && pageHasError" ng-include="'app/templates/main/detailview_error.html'"></div>

</div>

<div ng-include="'app/templates/main/partial/detailview_footer.html'"></div>

<script>
    $(function(){
        $('#elementToFocus').focus();
    });
</script>