<section id="about">
    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-4">
                <div class="about-column">

                    <div class="row">
                        <div class="col-lg-2 col-md-12 col-sm-1">
                            <i class="fa fa-4x fa-globe text-primary sr-icons"></i>
                        </div>
                        <div class="col-lg-10 col-md-12 col-sm-11">
                            <h3 ng-bind-html="main.getTitle(main.aboutFirstColumn)"></h3>
                        </div>
                    </div>

                    <div class="margin-top-10-about" ng-bind-html="main.getContent(main.aboutFirstColumn)"></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="about-column">

                    <div class="row">
                        <div class="col-lg-2 col-md-12 col-sm-1">
                            <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
                        </div>
                        <div class="col-lg-10 col-md-12 col-sm-11 padding-left-0-about">
                            <!--<h3 ng-bind-html="main.getTitle(main.aboutSecondColumn)"></h3>-->
                            <h3> {{ 'ABOUT_MIDDLE' | translate }} </h3>
                        </div>
                    </div>

					<div class="margin-top-10-about" ng-bind-html="main.getContent(main.aboutSecondColumn)"></div>

                    <p>
                        <a class="page-scroll-to-additional" data-target="#infoCarousel" data-slide-to="2" role="button">
                            {{ 'INDEX.READ_MORE' | translate }} &raquo;
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="about-column">

                    <div class="row">
                        <div class="col-lg-2 col-md-12 col-sm-1">
                            <i class="fa fa-4x fa-database text-primary sr-icons"></i>
                        </div>
                        <div class="col-lg-10 col-md-12 col-sm-11">
                            <h3 ng-bind-html="main.getTitle(main.aboutThirdColumn)"></h3>
                        </div>
                    </div>

					<div class="margin-top-10-about" ng-bind-html="main.getContent(main.aboutThirdColumn)"></div>

                    <p>
                        <a class="page-scroll-to-additional" data-target="#infoCarousel" data-slide-to="3" role="button">
                            {{ 'INDEX.READ_MORE' | translate }} &raquo;
                        </a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>