<div class="container-fluid">
    <ul class="search-header-list visible-xs">
        <li class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <h2>{{ 'INDEX.TYPES_OF_SEARCHES' | translate }}<span class="caret"></span></h2>
            </a>
            <ul class="dropdown-menu">

                <li ng-if="getResultsLength('specimen') > 0" class="nav-item" ng-class="{active: isTabActive('specimen')}" role="presentation">
                    <a role="tab" href ng-click="selectTab('specimen')">
                        {{ 'SEARCH.SPECIMENS.HEADING' | translate }} ({{getResultsLength('specimen')}})
                    </a>
                </li>

                <li ng-if="getResultsLength('sample') > 0" class="nav-item" ng-class="{active: isTabActive('sample')}" role="presentation">
                    <a role="tab" href ng-click="selectTab('sample')">
                        {{ 'SEARCH.SAMPLES.HEADING' | translate }} ({{getResultsLength('sample')}})
                    </a>
                </li>

                <li ng-if="getResultsLength('drillcore') > 0" class="nav-item" ng-class="{active: isTabActive('drillcore')}" role="presentation">
                    <a role="tab" href ng-click="selectTab('drillcore')">
                        {{ 'SEARCH.DRILL_CORES.HEADING' | translate }} ({{getResultsLength('drillcore')}})
                    </a>
                </li>

                <li ng-if="getResultsLength('locality') > 0" class="nav-item" ng-class="{active: isTabActive('locality')}" role="presentation">
                    <a role="tab" href ng-click="selectTab('locality')">
                        {{ 'SEARCH.LOCATILIES.HEADING' | translate }} ({{getResultsLength('locality')}})
                    </a>
                </li>

                <li ng-if="getResultsLength('reference') > 0" class="nav-item" ng-class="{active: isTabActive('reference')}" role="presentation">
                    <a role="tab" href ng-click="selectTab('reference')">
                        {{ 'SEARCH.REFERENCES.HEADING' | translate }} ({{getResultsLength('reference')}})
                    </a>
                </li>

                <li ng-if="getResultsLength('stratigraphy') > 0" class="nav-item" ng-class="{active: isTabActive('stratigraphy')}" role="presentation">
                    <a role="tab" href ng-click="selectTab('stratigraphy')">
                        {{ 'SEARCH.STRATIGRAPHY.STRATIGRAPHY' | translate }} ({{getResultsLength('stratigraphy')}})
                    </a>
                </li>

                <li ng-if="getResultsLength('analysis') > 0" class="nav-item" ng-class="{active: isTabActive('analysis')}" role="presentation">
                    <a role="tab" href ng-click="selectTab('analysis')">
                        {{ 'SEARCH.ANALYSES.HEADING' | translate }} ({{getResultsLength('analysis')}})
                    </a>
                </li>

                <li ng-if="getResultsLength('preparation') > 0" class="nav-item" ng-class="{active: isTabActive('preparation')}" role="presentation">
                    <a role="tab" href ng-click="selectTab('preparation')">
                        {{ 'SEARCH.PREPARATIONS.HEADING' | translate }} ({{getResultsLength('preparation')}})
                    </a>
                </li>

                <li ng-if="getResultsLength('image') > 0" class="nav-item" ng-class="{active: isTabActive('image')}" role="presentation">
                    <a role="tab" href ng-click="selectTab('image')">
                        {{ 'SEARCH.PHOTO_ARCHIVE.HEADING' | translate }} ({{getResultsLength('image')}})
                    </a>
                </li>

                <li ng-if="getResultsLength('doi') > 0" class="nav-item" ng-class="{active: isTabActive('doi')}" role="presentation">
                    <a role="tab" href ng-click="selectTab('doi')">
                        {{ 'SEARCH.DOI.DOI' | translate }} ({{getResultsLength('doi')}})
                    </a>
                </li>

                <li ng-if="getResultsLength('taxon') > 0" class="nav-item" ng-class="{active: isTabActive('taxon')}" role="presentation">
                    <a role="tab" href ng-click="selectTab('taxon')">
                        {{ 'SEARCH.TAXON.HEADING' | translate }} ({{getResultsLength('taxon')}})
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="nav nav-tabs nav-fill navbar-center hidden-xs" role="tablist">

        <li ng-if="getResultsLength('specimen') > 0" class="nav-item" ng-class="{active: isTabActive('specimen')}" role="presentation">
            <a role="tab" href ng-click="selectTab('specimen')">
                {{ 'SEARCH.SPECIMENS.HEADING' | translate }} ({{getResultsLength('specimen')}})
            </a>
        </li>

        <li ng-if="getResultsLength('sample') > 0" class="nav-item" ng-class="{active: isTabActive('sample')}" role="presentation">
            <a role="tab" href ng-click="selectTab('sample')">
                {{ 'SEARCH.SAMPLES.HEADING' | translate }} ({{getResultsLength('sample')}})
            </a>
        </li>

        <li ng-if="getResultsLength('drillcore') > 0" class="nav-item" ng-class="{active: isTabActive('drillcore')}" role="presentation">
            <a role="tab" href ng-click="selectTab('drillcore')">
                {{ 'SEARCH.DRILL_CORES.HEADING' | translate }} ({{getResultsLength('drillcore')}})
            </a>
        </li>

        <li ng-if="getResultsLength('locality') > 0" class="nav-item" ng-class="{active: isTabActive('locality')}" role="presentation">
            <a role="tab" href ng-click="selectTab('locality')">
                {{ 'SEARCH.LOCATILIES.HEADING' | translate }} ({{getResultsLength('locality')}})
            </a>
        </li>

        <li ng-if="getResultsLength('reference') > 0" class="nav-item" ng-class="{active: isTabActive('reference')}" role="presentation">
            <a role="tab" href ng-click="selectTab('reference')">
                {{ 'SEARCH.REFERENCES.HEADING' | translate }} ({{getResultsLength('reference')}})
            </a>
        </li>

        <li ng-if="getResultsLength('stratigraphy') > 0" class="nav-item" ng-class="{active: isTabActive('stratigraphy')}" role="presentation">
            <a role="tab" href ng-click="selectTab('stratigraphy')">
                {{ 'SEARCH.STRATIGRAPHY.STRATIGRAPHY' | translate }} ({{getResultsLength('stratigraphy')}})
            </a>
        </li>

        <li ng-if="getResultsLength('analysis') > 0" class="nav-item" ng-class="{active: isTabActive('analysis')}" role="presentation">
            <a role="tab" href ng-click="selectTab('analysis')">
                {{ 'SEARCH.ANALYSES.HEADING' | translate }} ({{getResultsLength('analysis')}})
            </a>
        </li>

        <li ng-if="getResultsLength('preparation') > 0" class="nav-item" ng-class="{active: isTabActive('preparation')}" role="presentation">
            <a role="tab" href ng-click="selectTab('preparation')">
                {{ 'SEARCH.PREPARATIONS.HEADING' | translate }} ({{getResultsLength('preparation')}})
            </a>
        </li>

        <li ng-if="getResultsLength('image') > 0" class="nav-item" ng-class="{active: isTabActive('image')}" role="presentation">
            <a role="tab" href ng-click="selectTab('image')">
                {{ 'SEARCH.PHOTO_ARCHIVE.HEADING' | translate }} ({{getResultsLength('image')}})
            </a>
        </li>

        <li ng-if="getResultsLength('doi') > 0" class="nav-item" ng-class="{active: isTabActive('doi')}" role="presentation">
            <a role="tab" href ng-click="selectTab('doi')">
                {{ 'SEARCH.DOI.DOI' | translate }} ({{getResultsLength('doi')}})
            </a>
        </li>

        <li ng-if="getResultsLength('taxon') > 0" class="nav-item" ng-class="{active: isTabActive('taxon')}" role="presentation">
            <a role="tab" href ng-click="selectTab('taxon')">
                {{ 'SEARCH.TAXON.HEADING' | translate }} ({{getResultsLength('taxon')}})
            </a>
        </li>
    </ul>
</div>
