<div class="row">

    <div class="col-xs-12 col-sm-4">
        <div class="card elevation-4" data-ui-sref="specimens" style="background-image: url(https://files.geocollections.info/img/geocollections-front/specimen.jpg)">
            <h3><b>{{ 'SHORTCUT.SPECIMEN' | translate }}</b></h3>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="card elevation-4" style="background-image: url(https://files.geocollections.info/img/geocollections-front/reference.jpg)" data-ng-click="main.service.openUrlInNewWindow({url: main.configuration.geoloogiaUrl, target: '_blank'})">
            <h3><b>{{ 'SHORTCUT.REFERENCE' | translate }}</b></h3>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="card elevation-4" data-ui-sref="photoArchives" style="background-image: url(https://files.geocollections.info/img/geocollections-front/photoArchives.jpg);">
            <h3><b>{{ 'SHORTCUT.PHOTO_ARCHIVE' | translate }}</b></h3>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-xs-12 col-sm-3" >
        <div class="card elevation-4" style="background-image: url(https://files.geocollections.info/img/geocollections-front/fossil.jpg);" data-ng-click="main.service.openUrlInNewWindow({url: main.configuration.fossilsUrl, target: '_blank'})">
            <h3><b>{{ 'SHORTCUT.FOSSILS' | translate }}</b></h3>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="card elevation-4" style="background-image: url(https://files.geocollections.info/img/geocollections-front/rock.jpg);" data-ng-click="main.service.openUrlInNewWindow({url: main.configuration.rocksUrl, target: '_blank'})">
            <h3><b>{{ 'SHORTCUT.ROCKS' | translate }}</b></h3>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3">
        <div class="card elevation-4" data-ui-sref="samples" style="background-image: url(https://files.geocollections.info/img/geocollections-front/sample.jpg);">
            <h3><b>{{ 'SHORTCUT.SAMPLE' | translate }}</b></h3>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-xs-12 col-sm-4">
        <div class="card elevation-4" data-ui-sref="localities" style="background-image: url(https://files.geocollections.info/img/geocollections-front/locality.jpg);">
            <h3><b>{{ 'SHORTCUT.LOCALITY' | translate }}</b></h3>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="card elevation-4" data-ui-sref="drillcores" style="background-image: url(https://files.geocollections.info/img/geocollections-front/drillcore.jpg);">
            <h3><b>{{ 'SHORTCUT.DRILLCORE' | translate }}</b></h3>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="card elevation-4" style="background-image: url(https://files.geocollections.info/img/geocollections-front/data.jpg);" data-ng-click="main.service.openUrlInNewWindow({url: main.configuration.sarvDoi, target: '_blank'})">
            <h3><b>{{ 'SHORTCUT.RESEARCH' | translate }}</b></h3>
        </div>
    </div>

</div>