.page-header{
    margin-top: 0px;
}
.previewImage {
    max-height: 130px;
    max-width: 210px;
}
.img-responsive {
    text-align: center;
}
.img-gallery-author {
    color: #ee4b28;
    font-weight: 700;
    text-align: center;
    min-height: 60px;
    padding-top: 5px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    width: auto;
    max-height: 130px;
}

.set-height {
    height: 130px;
}

#detail-image > .img-responsive {
    max-width: 90%;
}

@media only screen and (max-width: 480px) {
    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
        width: auto;
        max-height: 75px;
    }
    .previewImage {
        max-height: 75px;
        max-width: 150px;
    }
    .img-gallery-author {
        font-size: 12px;
        min-height: 55px;
    }
    .imagePlace {
        font-size: 12px;
    }
    .set-height {
        height: 75px;
    }
}

@media (min-width: 410px) and (max-width: 480px) {
    #detail-image > .img-responsive {
        width: auto;
        max-height: 130px;
    }
}

@media only screen and (max-width: 410px) {
    #detail-image > .img-responsive {
        width: auto;
        height: 75px;
    }
    .set-height {
        height: 75px;
    }
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.font-smaller {
    font-size: smaller;
}

.hover-me img:hover {
    opacity: 0.8;
}


/*********************************
 *** 5 ELEMENTS IN A ROW START ***
 *********************************/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 992px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1500px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/*******************************
 *** 5 ELEMENTS IN A ROW END ***
 *******************************/