<div ng-show="!main.isMain()" class="slider-mb-5" ng-include="'app/templates/main/partial/detailview_header.html'"></div>

<div class="container infoSection" id="help">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">{{ 'GLOBAL.SEARCH_TIPS_HEADING' | translate }}</h2>
            <hr class="primary">
            <h3 class="header-collection" ng-bind-html="main.getTitle(main.help)"></h3>
            <div ng-bind-html="main.getContent(main.help)"></div>
        </div>
    </div>
</div>

<div ng-show="!main.isMain()" ng-include="'app/templates/main/partial/detailview_footer.html'"></div>
